{  
  "openapi": "3.0.0",  
  "info": {  
    "title": "API de Gestión de Usuarios",  
    "description": "Una API para gestionar usuarios en el sistema.",  
    "version": "1.0.0"  
  },  
  "servers": [  
    {  
      "url": "https://api.ejemplo.com/v1",  
      "description": "Servidor principal"  
    }  
  ],  
  "paths": {  
    "/usuarios": {  
      "get": {  
        "summary": "Obtener lista de usuarios",  
        "responses": {  
          "200": {  
            "description": "Lista de usuarios",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "type": "array",  
                  "items": {  
                    "$ref": "#/components/schemas/Usuario"  
                  }  
                }  
              }  
            }  
          }  
        }  
      },  
      "post": {  
        "summary": "Crear un nuevo usuario",  
        "requestBody": {  
          "required": true,  
          "content": {  
            "application/json": {  
              "schema": {  
                "$ref": "#/components/schemas/Usuario"  
              }  
            }  
          }  
        },  
        "responses": {  
          "201": {  
            "description": "Usuario creado"  
          }  
        }  
      }  
    },  
    "/usuarios/{id}": {  
      "get": {  
        "summary": "Obtener un usuario por ID",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "required": true,  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "200": {  
            "description": "Detalles del usuario",  
            "content": {  
              "application/json": {  
                "schema": {  
                  "$ref": "#/components/schemas/Usuario"  
                }  
              }  
            }  
          },  
          "404": {  
            "description": "Usuario no encontrado"  
          }  
        }  
      },  
      "delete": {  
        "summary": "Eliminar un usuario por ID",  
        "parameters": [  
          {  
            "name": "id",  
            "in": "path",  
            "required": true,  
            "schema": {  
              "type": "string"  
            }  
          }  
        ],  
        "responses": {  
          "204": {  
            "description": "Usuario eliminado"  
          },  
          "404": {  
            "description": "Usuario no encontrado"  
          }  
        }  
      }  
    }  
  },  
  "components": {  
    "schemas": {  
      "Usuario": {  
        "type": "object",  
        "properties": {  
          "id": {  
            "type": "string",  
            "example": "123"  
          },  
          "nombre": {  
            "type": "string",  
            "example": "Juan Pérez"  
          },  
          "email": {  
            "type": "string",  
            "example": "juan.perez@ejemplo.com"  
          },  
          "edad": {  
            "type": "integer",  
            "example": 30  
          }  
        },  
        "required": ["nombre", "email"]  
      }  
    }  
  }  
} 